<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Quiz</title>
    <link href="./style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <h1> Quizzes</h1>
        <p>Find all available quizes here</p>
        <div class="quizzes">
            <% quizzes.forEach(quiz => { %>
             <a href="./quiz?name=<%- quiz.slug %>">
                <button><%= quiz.title %></button>
            </a>
                <% }) %>
        </div>
    </div>
    
</body>
</html>